@font 
    font-family: 'HeadlineTwo';
    src: url(fonts/HeadlineTwo);
body {
    margin: 0;
    background-image: url("https://i.imgur.com/KjbZBXY.jpg");
    background-repeat: no-repeat;
    background-position: centre;
    background-attachment: scroll;
    text-align: center;
}
h1 {
    font-family: 'HeadlineTwo';
    font-size: 6em;
}
