body {
    margin: 0;
    background-image: url("https://i.imgur.com/hM21RBB.png");
    background-repeat: no-repeat;
    background-position: centre;
    background-attachment: scroll;
    text-align: center;
}
